{% extends "header.html" %}

{% block title %} Home {% endblock %}


{% block content %}

<style>
.btn {
    height: 65px;
    width: 100%;
}

td {
    border: 0px;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>

<div class='fluid-container'>
    <center>
        <img src={{ url_for('static', filename='img/logo.png') }} style='height:250px'>
				<br><br><br><br><br><br>
    <table>
        <tr>
            <!-- <td><a href='tableau' class="btn btn-primary btn-lg">Tableau Dashboard</a></td> -->
            <td><a href='explore' class="btn btn-primary btn-lg">FSA Explorer</a></td>
        </tr>
    </table>
    </center>
</div>

{% endblock %}
